# General garbage
*.log
*.bak
*.old

# Windows garbage
Thumbs.db
desktop.ini
*.ncb
*.vcxproj.user
*.vcxproj.filters
*.suo
*.tlb
*.tlh
*.cache
*.ilk
_[Rr]e[Ss]harper*/
[Tt]est[Rr]esult*
*tlog/

# Apple gargabe
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
.apdisk
*xcuserdata*/
*.xccheckout
**/DerivedData/**

# Binaries
*.a
*.lib
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.obj
*.o
*.ko
*.mod
*.lai
*.exe
*.out
*.pdb
*.idb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.sbr
[Oo]bj/
*.elf
*.gch
*.pch
*.class
*.jar
*.hex
*.slo
*.app
*.i*86
*.x86_64

#Project specific
3rdparty/
3rdparty
include
gen/
**/.idea/**
